@font-face {
    font-family: 'TrafficCustom';
    src: url('/traffic.ttf') format('truetype');
}


body{
  background-color: brown;
}


.naslov-benda {
    font-family: 'TrafficCustom', Arial, sans-serif; 
    font-size: 5rem; 
    color: #ffffff; 
    margin: 40px 0 10px 0; 
    letter-spacing: 15px; 
    text-shadow: 3px 3px #000000; 
    text-transform: uppercase;
}
